---
layout: default
header-img: /img/header-bg2.jpg
title: vous allez rire !
---

<!-- Services Section -->
    <section id="services">
        <div class="container container-small">
            <div class="text-center">
                <h2 class="section-heading">Bienvenue au Yoga du rire</h2><br><br><br>


                <h3 class="section-subheading text-muted">
                  L’association d’une respiration yogique avec la libération du rire. Une technique puissante pour muscler le positif en soi et développer son calme et son énergie.<br><br>
                  <b>Rires Éveillés</b> propose des cours et organise des événements autour du yoga du rire : des cours dans lesquels les participants libèrent leur rire dans un cadre bienveillant et ludique; des respirations toniques qui permettent de renouveler l’air dans les poumons et de fortifier le système immunitaire; un vrai sport : l’activation de plusieurs centaines de muscles constitue un véritable « jogging stationnaire » et permet un massage en douceur des organes.
            </div>
        </div>

        <div class="color-event-small" style="background-color: #e25b4e">
            <div class="container container-small">

              <div class="row">
                <div class="col-md-4 section-buttons">
                     <a href="{{site.baseurl}}/particuliers">Particuliers</a>
                </div>

                 <div class="col-md-8 "><br>
                   <p class="text-justify white"><b>Rire sans raison ne fait pas partie de nos habitudes. Pas toujours facile de se lâcher quand notre culture nous incite à montrer du contrôle, de la maîtrise, de la logique, de la raison. Une séance de yoga du rire est un rafraichissement délicieux pour le cerveau, le cœur et le corps. Pratiquée régulièrement, cette technique simple et puissante permet d’installer un bien être profond et durable. </b><br><br>
                     <a href="#"><button type="button" class="btn btn-primary btn-md btn-fill">En savoir plus</button></a>


                 </div>

              </div>

              </div>

            </div>


        <div class="color-event-small" style="background-color: #3EB7A1">
          <div class="container container-small">
            <div class="row">

              <div class="col-md-4 section-buttons">
                 <a href="{{site.baseurl}}/entreprises">Entreprises</a>
              </div>
               <div class="col-md-8"><br>
                 <p class="text-justify white"> <b> Associer le sérieux et les contraintes de l’entreprise à la légèreté du rire, est-ce bien… raisonnable ? Oui, et le yoga du rire trouve aujourd’hui un écho de plus en plus favorable dans le monde du travail, car il y a fait ses preuves. Les effets bénéfiques d’une seule séance sont immédiatement ressentis par les participants et une pratique régulière a un impact positif et durable sur leur bien-être et leurs performances.</b><br><br>
                   <a href="#"><button type="button" class="btn btn-primary btn-md btn-fill">En savoir plus</button></a>
               </div>



            </div>
          </div>
        </div>


<!--
                  <div class="container container-small">
                            <div class="row text-center">
                                <div class="col-md-6" id="particuliers">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                                    </span>
                                    <h4 class="service-heading">Pour les particuliers</h4>
                                    <p class="text-justify text-muted" >
                                        Rire sans raison ne fait pas partie de nos habitudes. Pas toujours facile de se lâcher quand notre culture nous incite à montrer du contrôle, de la maîtrise, de la logique, de la raison. Une séance de yoga du rire est <b>un rafraichissement délicieux</b> pour le cerveau, le cœur et le corps. Pratiquée régulièrement, cette technique simple et puissante permet d’installer un <b>bien être profond et durable.</b>

                </p>
                                </div>

                                <div class="col-md-6" id="structures">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                                    </span>
                                    <h4 class="service-heading">Pour les structures</h4>
                                    <p class="text-justify text-muted">

                                    Associer le sérieux et les contraintes de l’entreprise à la légèreté du rire, est-ce bien… raisonnable ? Oui, et le yoga du rire trouve aujourd’hui un écho de plus en plus favorable dans le monde du travail, car il a commencé à y faire ses preuves. Les effets bénéfiques d’une seule séance sont immédiatement ressentis par les participants et une pratique régulière a un <b>impact positif et durable</b> sur le bien être et les performances des membres / salariés.
                </p>
                                </div>
                            </div>
                        </div>
 -->


    </section>



      <section style="margin-top: -60px;">
        <div class="container text-center">
            <h2 class="section-heading">En ce moment</h2><br>
        </div>
      </section>
      {% assign evenements = site.evenements %}
      {% for evenement in evenements %}
      <div class="color-event" style ="background-color: #{{evenement.background-color}}">
          <div class="container container-small">

              <div class="row"></div>

                  <div class="col-md-8">
                      <h1>{{evenement.title}}</h1>
                      <p><b> {{evenement.adresse}}</b></p>
                      <p><b> {{evenement.dates}}</b></p>
                      {% if evenement.prix-libre == true %}
                      <p> <b>Participation libre </b></p>
                      {% else %}
                      <a href="#" data-toggle="tooltip" data-html="true" data-placement="top" class="tooltip-link" title="{% for item in evenement.prix-options %}
                      <p>{{item}}</p>
                      {% endfor %}"><b>Voir les tarifs</b></a>
                      <!-- {% for item in evenement.prix-options %}
                      <p>{{item}}</p>
                      {% endfor %} -->

                      {% endif %}
                  </div>

                  {% if evenement.booking == true %}

                  <div class="col-md-4 event-buttons">
                       <a data-toggle="modal" data-target=".{{evenement.title | replace: " ","-"}}">Réserver</a>
                      <!-- <button type="button" class="btn btn-primary btn-lg btn-fill" data-toggle="modal" data-target=".{{evenement.title | replace: " ","-"}}">Réserver</button> -->
                  </div>

                    <div class="{{evenement.title | replace: " ","-"}} modal fade" tabindex="-1" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Réservation prochain {{evenement.title}}</h4>
                          </div>
                          <div class="modal-body">
                           {% include form.html %}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                          </div>
                        </div>

                      </div>
                      {% else %}
                      {% endif %}

              </div>
        </div>
      {% endfor %}
      </div>


      <section>
          <div class="container text-center">
              <h2 class="section-heading">Prochains événements</h2><br>
          </div>
      </section>
      {% assign prochainements = site.prochainements %}
      {% for prochainement in prochainements %}
            <div class="prochainement" style ="background-color: #{{prochainement.background-color}}">
                <div class="container container-small">
                  <div class="row">
                      <div class="col-md-8">
                          <h1>{{prochainement.title}}</h1>
                          <p> {{prochainement.infos}}</p>
                          <p> {{prochainement.adresse}}</p>
                          <p> <b>{{prochainement.dates}}</b></p>
                      </div>
                      <div class="col-md-4"><br>

                          {% if prochainement.booking == true %}

                              <!-- <a data-toggle="modal" data-target=".{{evenement.background-color}}">Réserver</a> -->
                              <button type="button" class="btn btn-primary btn-md btn-fill btn-prochainement" data-toggle="modal" data-target=".{{prochainement.title | replace: " ","-"}}">Inscription</button><br><br>


                            <div class="{{prochainement.title | replace: " ","-"}} modal fade" tabindex="-1" role="dialog">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">Demande d'inscription {{prochainement.title}}</h4>
                                    </div>
                                    <div class="modal-body">
                                     {% include form-evenement.html %}
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    </div>
                                  </div>
                              </div>
                            </div>
                            {% else %}
                            {% endif %}
                            {% if prochainement.info == nil or prochainement.info == '' %}
                            {% else %}
                            <a href="{{prochainement.info}}" target="_blank"><button type="button" class="btn btn-info btn-md btn-fill btn-prochainement">Détails</button></a>
                            {% endif %}
                      </div>
                  </div>
              </div>
            </div>
        {% endfor %}

          </div>


        <section>
          <div class="container text-center">
                <h2 class="section-heading">Toutes les actualités</h2><br>
                <a href="https://www.facebook.com/yogarireseveilles/" target="_blank"><button type="button" class="btn btn-md btn-fill btn-facebook"> Page Facebook</button></a>
          </div>
        </section>
