---
layout: default
title: vous allez rire !
homepage: true
description: Cours et ateliers de yoga du rire pour particuliers et entreprises. 
---

<!-- Services Section -->

        <div class="container container-small">
            <div class="text-center">
              <section >
                <h2 class="section-heading">Bienvenue au Yoga du rire</h2>


              </section>


                <p class="text-muted text-justify">
                  <i><b>L’association d’une respiration yogique avec la libération du rire. Une technique puissante pour muscler le positif en soi et développer son calme et son énergie.</b><br><br>
                  <b>Rires Éveillés</b> propose des cours et organise des événements autour du yoga du rire : des cours dans lesquels les participants libèrent leur rire dans un cadre bienveillant et ludique; des respirations toniques qui permettent de renouveler l’air dans les poumons et de fortifier le système immunitaire; un vrai sport : l’activation de plusieurs centaines de muscles constitue un véritable « jogging stationnaire » et permet un massage en douceur des organes.</i></p>
                  <br><br>
            </div>

        </div>

        <div class="color-event-small" style="background-color: #{{site.data.template.color.fourth}}">

        <div class="container container-small">
          <a href="{{site.baseurl}}/particuliers"><h1 class="hidden-md hidden-lg hidden-xl white" style="text-align: left">
               Particuliers
          </h1></a>
        </div>
                <a href="{{site.baseurl}}/particuliers"><div class="hidden-sm hidden-xs section-buttons" >
                     Particuliers
                </div></a>
                  <div class="container container-small">
                 <div class="col-md-8 "><br>
                   <p class="text-justify white">Rire sans raison ne fait pas partie de nos habitudes. Pas toujours facile de se lâcher quand notre culture nous incite à montrer du contrôle, de la maîtrise, de la logique, de la raison. Une séance de yoga du rire est un <b>rafraichissement délicieux pour le cerveau</b>, le cœur et le corps. Pratiquée régulièrement, cette technique simple et puissante permet d’installer un bien être profond et durable. <br><br>
                     <a href="{{site.baseurl}}/particuliers"><button type="button" class="btn btn-info btn-md btn-fill">En savoir plus</button></a>


                 </div>
                   </div>
            </div>


        <div class="color-event-small" style="background-color: #{{site.data.template.color.primary}}">
              <div class="container container-small">
                <a href="{{site.baseurl}}/entreprises"><h1 class="hidden-md hidden-lg hidden-xl white">Entreprises</h1></a>
              </div>

              <a href="{{site.baseurl}}/entreprises"><div class="hidden-sm hidden-xs section-buttons" style="text-align: left">
                   Entreprises
              </div></a>

              <div class="container container-small">
               <div class="col-md-8"><br>
                 <p class="text-justify white" > Associer le sérieux et les contraintes de l’entreprise à la légèreté du rire, est-ce bien… raisonnable ? Oui, et le yoga du rire trouve aujourd’hui un écho de plus en plus favorable dans le monde du travail, car il y a fait ses preuves. Les effets bénéfiques d’une seule séance sont <b>immédiatement ressentis par les participants</b> et une pratique régulière a un impact positif et durable sur leur bien-être et leurs performances.<br><br>
                   <a href="{{site.baseurl}}/entreprises"><button type="button" class="btn btn-info btn-md btn-fill">En savoir plus</button></a>
               </div>
                </div>

            </div>
          </div>
        </div>


<!--
                  <div class="container container-small">
                            <div class="row text-center">
                                <div class="col-md-6" id="particuliers">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                                    </span>
                                    <h4 class="service-heading">Pour les particuliers</h4>
                                    <p class="text-justify text-muted" >
                                        Rire sans raison ne fait pas partie de nos habitudes. Pas toujours facile de se lâcher quand notre culture nous incite à montrer du contrôle, de la maîtrise, de la logique, de la raison. Une séance de yoga du rire est <b>un rafraichissement délicieux</b> pour le cerveau, le cœur et le corps. Pratiquée régulièrement, cette technique simple et puissante permet d’installer un <b>bien être profond et durable.</b>

                </p>
                                </div>

                                <div class="col-md-6" id="structures">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                                    </span>
                                    <h4 class="service-heading">Pour les structures</h4>
                                    <p class="text-justify text-muted">

                                    Associer le sérieux et les contraintes de l’entreprise à la légèreté du rire, est-ce bien… raisonnable ? Oui, et le yoga du rire trouve aujourd’hui un écho de plus en plus favorable dans le monde du travail, car il a commencé à y faire ses preuves. Les effets bénéfiques d’une seule séance sont immédiatement ressentis par les participants et une pratique régulière a un <b>impact positif et durable</b> sur le bien être et les performances des membres / salariés.
                </p>
                                </div>
                            </div>
                        </div>
 -->



      <section>
        <div class="container text-center">
            <h2 class="section-heading">En ce moment</h2>
        </div>
      </section>
      {% assign cours = site.cours %}
      {% for cour in cours %}
       <div class="color-event" style ="background-color: #{{cour.background-color}}">



              {% if cour.booking == true %}

              <a data-toggle="modal" data-target=".{{cour.title | replace: " ","-"}}">
                <div class=" hidden-sm hidden-xs section-buttons">
                   Inscription
                </div>
              </a>

              <div class="{{cour.title | replace: " ","-"}} modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Inscription : {{cour.title}}</h4>
                    </div>
                    <div class="modal-body">
                     {% include form.html %}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                      </div>
                    </div>
                  </div>

                </div>
                {% else %}
                {% endif %}

              <div class="container container-small">
                  <div class="col-md-8">
                      <h1>{{cour.title}}</h1>
                      <p><b> {{cour.adresse}}</b></p>
                      <p><b> {{cour.moment}} {{cour.heure}}</b></p>
                      {% if cour.prix-libre == true %}
                      <b>Participation libre</b><br><br>
                      {% else %}
                      <a href="#" data-toggle="tooltip" data-html="true" data-placement="top" class="dark" title="{% for item in cour.prix-options %}
                      <p>{{item}}</p>
                      {% endfor %}"><b>Voir les tarifs</b></a><br><br>
                      <!-- {% for item in cour.prix-options %}
                      <p>{{item}}</p>
                      {% endfor %} -->
                      {% endif %}
                      {% if cour.booking == true %}
                        <button class=" btn btn-danger hidden-md hidden-lg hidden-xl" data-toggle="modal" data-target=".{{cour.title | replace: " ","-"}}">
                           Inscription
                        </button>
                      {% endif %}
                  </div>
              </div>

        </div>
      {% endfor %}
      </div>


      <section>
          <div class="container text-center">
              <h2 class="section-heading">Prochains événements</h2>
          </div>
      </section>
      {% assign evenements = site.evenements %}
      <ul class="list-unstyled list-evenements">
      {% for evenement in evenements %}
      <li>
            <div class="evenement">
                <div class="container container-small">
                  <div class="row">
                      <div class="col-md-8">
                          <h1>{{evenement.title}}</h1>
                          <p> {{evenement.infos}}</p>
                          <p> {{evenement.adresse}}</p>
                          <p> <b>{{evenement.moment}}</b></p>
                      </div>
                      <div class="col-md-4"><br>

                          {% if evenement.booking == true %}

                              <!-- <a data-toggle="modal" data-target=".{{cour.background-color}}">Réserver</a> -->
                              <button type="button" class="btn btn-danger btn-md btn-fill btn-evenement" data-toggle="modal" data-target=".{{evenement.title | replace: " ","-"}}">Inscription</button>


                            <div class="{{evenement.title | replace: " ","-"}} modal fade" tabindex="-1" role="dialog">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">Demande d'inscription {{evenement.title}}</h4>
                                    </div>
                                    <div class="modal-body">
                                     {% include form-evenement.html %}
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    </div>
                                  </div>
                              </div>
                            </div>
                            {% else %}
                            {% endif %}
                            {% if evenement.info == nil or evenement.info == '' %}
                            {% else %}
                            <a href="{{evenement.info}}" target="_blank"><button type="button" class="btn btn-info btn-md btn-evenement">Détails</button><br><br></a>
                            {% endif %}
                      </div>
                  </div>
              </div>
            </div>
            </li>
        {% endfor %}
        </ul>

          </div>


        <section>
          <div class="container text-center news">
                <h2 class="section-heading">Toutes les actualités</h2><br>
                <a href="https://www.facebook.com/yogarireseveilles/" target="_blank"><button type="button" class="btn btn-md btn-facebook"> Page Facebook</button></a>
                <a href="{{site.baseurl}}/blog"><button type="button" class="btn btn-md btn-info"> Blog</button></a>

          </div>
        </section>
