


    <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Contactez-nous</h2>
                        <a href="contact@yoga-rires.fr"><b>contact@yoga-rires.fr</b></a>
                          <br>
                          <br>
                    </div>
                </div>


                <div class="row">
                  <div class="col-lg-12">

                      <form action="https://script.google.com/macros/s/AKfycby4x0HR_SIJNc_ar03aJfIWmm5cgRu_fLGeZwZDKO2QV4QleUPC/exec" method="post" class="gform" id="contactForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                  <input type="text" class="form-control" placeholder="Nom" name="name" required oninvalid="this.setCustomValidity('Merci de préciser votre nom')" oninput="setCustomValidity('')">
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="control-group form-group">
                                  <input type="text" class="form-control" placeholder="Email" name="email" required oninvalid="this.setCustomValidity('Merci de préciser votre adresse email')" oninput="setCustomValidity('')">
                                    <p class="help-block text-danger"></p>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <textarea class="form-control" placeholder="Votre message" name="message" required oninvalid="this.setCustomValidity('Écrivez votre message ici')" oninput="setCustomValidity('')"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">

                                <button type="submit" class="btn btn-info btn-xl sendbtn btn-dynamic" value="Send">Envoyer</button>
                                <div class="loader"></div>

                            </div>
                        </div>
                      </form>
                    <div style= "display:none;" class='submitconf alert alert-success text-center'>
                      <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
                        <strong>Merci, votre message a bien été envoyé ! </strong>
                    </div>

                  </div>
              </div>

        </section>
