
  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <span class="copyright">{{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-2">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-5">
                    <ul class="list-inline quicklinks">
                      <li>
                          <a class="page-scroll" href="{{site.baseurl}}/presentation"><b>Yoga du rire</b></a>
                      </li>
                        <li>
                            <a class="page-scroll" href="{{site.baseurl}}/particuliers"><b>Particuliers</b></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{{site.baseurl}}/entreprises"><b>Entreprises</b></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{{site.baseurl}}/blog"><b>Blog</b></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
