<form enctype="multipart/form-data" action="http://mailthis.to/yoga-rires" method="post">

 <fieldset class="form-group">
   <label>Nom*</label>
   <input type="text" class="form-control" placeholder="Prénom et nom de famille" name="name" required oninvalid="this.setCustomValidity('Merci de préciser votre nom')" oninput="setCustomValidity('')">
 </fieldset>

 <fieldset class="form-group">
   <label>Adresse email*</label>
   <input type="email" class="form-control" placeholder="exemple@mail.com" name="email" required oninvalid="this.setCustomValidity('Merci de préciser votre email')" oninput="setCustomValidity('')">
 </fieldset>

{% if evenement.prix-libre == true %}
<p class="form-info">Participation libre (prix libre). Paiement sur place uniquement.</p>
{% else %}
 <fieldset class="form-group">
   <label for="exampleSelect1">Choisissez une option</label>
   <p class="form-info">À titre indicatif seulement, <b>sans engagement</b>. Paiements sur place uniquement.</p>
   <select class="form-control" name="type de projet">
     {% for item in evenement.prix-options %}
      <option>{{item}}</option>
     {% endfor %}
   </select>
 </fieldset>
 {% endif %}

<br>

 <fieldset class="form-group">
   <label for="exampleTextarea">Commentaires</label>
   <textarea class="form-control" id="exampleTextarea" rows="5" name="message"></textarea>
 </fieldset>

 <input type="hidden" name="_replyto" value="%email">
  <!--  <input type="hidden" name="_after" value="http://yoga-rires.fr/reservation/">-->
 <input type="hidden" name="_subject" value="Réservation via yoga-rires.fr">
   <input type="text" name="_honey" value="" style="display:none">

 <button type="submit" class="btn btn-primary btn-fill" value="Send">Réserver</button>

</form>
