  <form method="post" class="gform resa" id={{cour.title | replace: " ","-"}} action="https://formspree.io/contact@rires-eveilles.fr">  

  <label class="sr-only"></label>
  <input id="honeypot" type="text" name="honeypot" value="" />

     <fieldset class="form-group">
       <label>Nom*</label>
       <input type="text" class="form-control" placeholder="Prénom et nom de famille" name="name" required oninvalid="this.setCustomValidity('Merci de préciser votre nom')" oninput="setCustomValidity('')">
     </fieldset>

     <fieldset class="form-group">
       <label>Adresse email*</label>
       <input type="email" class="form-control" placeholder="exemple@mail.com" name="email" required oninvalid="this.setCustomValidity('Merci de préciser votre email')" oninput="setCustomValidity('')">
     </fieldset>

    {% if cour.prix-libre == true %}
    <p class="form-info">Participation libre (prix libre). Paiement sur place uniquement.</p>
    {% else %}
     <fieldset class="form-group">
       <label>Choisissez une option</label>
       <p class="form-info">À titre indicatif seulement, <b>sans engagement</b>. Paiements sur place uniquement.</p>
       <select class="form-control" name="option">
         {% for item in cour.prix-options %}
          <option>{{item}}</option>
         {% endfor %}
       </select>
     </fieldset>
     {% endif %}




      <fieldset class="form-group">
        <label>Choisissez une date*</label>
          <div class="input-group date {{cour.id-name}}">
              <input type='text' class="form-control" name="date" required oninvalid="this.setCustomValidity('Merci de choisir une date')" oninput="setCustomValidity('')">
              <span class="input-group-addon">
                  <span class="fa fa-calendar"></span>
              </span>
          </div>
      </fieldset>


     <fieldset class="form-group">
       <label >Commentaires</label>
       <textarea class="form-control" rows="5" name="message"></textarea>
     </fieldset>
         <br>


     <button type="submit" class="btn btn-info btn-fill sendbtn" value="Send">Je m'inscris</button>
     <div class="loader"></div>

     <!-- hidden fields collected in spreadsheet for emails -->

     <input type="hidden" name="cours" value="{{cour.title}}">
     <input type="hidden" name="adresse" value="{{cour.adresse}}">
     <input type="hidden" name="heure" value="{{cour.heure}}">
     <input type="hidden" name="hourstart" value="{{cour.heure-google-depart}}">
     <input type="hidden" name="hourend" value="{{cour.heure-google-fin}}">
     <input type="hidden" name="gtitle" value="{{cour.title-google}}">


</form>

  <div style= "display:none;" id="thankyou_message" class="text-center">
    <h1>Vous voulez rire !</h1><br>
      Votre demande de réservation a bien été effectuée. Merci !
  </div>
