
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rires Éveillés</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{page.description}}">
    <meta name="keywords" content="yoga du rire, yoga du rire paris, yoga rire paris, yoga rires, cours yoga du rire, cours yoga rire, paris, yoga, rire, seance yoga rire paris, seance yoga rire">
    {% include sharing-meta.html %}
    <link rel="canonical" href="http://yoga-rires.fr/" itemprop="url" >

    <title itemprop="name">{{site.title}}</title>
    
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700" rel="stylesheet">

</head>
