<!-- Services Section -->
    <section id="services">
        <div class="container container-small">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Bienvenue au Yoga du rire</h2>

                    <h3 class="section-subheading text-muted">
                      L’association d’une respiration yogique avec la libération du rire. Une technique puissante pour muscler le positif en soi et développer son calme et son énergie.<br><br>
                      <b>Rires Éveillés</b> propose des cours et organise des événements autour du yoga du rire : Des cours dans lesquels les participants libèrent leur rire dans un cadre bienveillant et ludique; des respirations toniques qui permettent de renouveler l’air dans les poumons et de fortifier le système immunitaire; un vrai sport : l’activation de plusieurs centaines de muscles constitue un véritable « jogging stationnaire » et permet un massage en douceur des organes.

                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Pour les particuliers</h4>
                    <p class="text-justify text-muted">
                        Rire sans raison ne fait pas partie de nos habitudes. Pas toujours facile de se lâcher quand notre culture nous incite à montrer du contrôle, de la maîtrise, de la logique, de la raison. Une séance de yoga du rire est <b>un rafraichissement délicieux</b> pour le cerveau, le cœur et le corps. Pratiquée régulièrement, cette technique simple et puissante permet d’installer un <b>bien être profond et durable.</b>

</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Pour les structures</h4>
                    <p class="text-justify text-muted">
                    Associer le sérieux et les contraintes de l’entreprise à la légèreté du rire, est-ce bien… raisonnable ? Oui, et le yoga du rire trouve aujourd’hui un écho de plus en plus favorable dans le monde du travail, car il a commencé à y faire ses preuves. Les effets bénéfiques d’une seule séance sont immédiatement ressentis par les participants et une pratique régulière a un <b>impact positif et durable</b> sur le bien être et les performances des membres / salariés.
</p>
                </div>
            </div>
        </div>
    </section>
